*{
    margin: 0;
    padding: 0;
   
    
}


body{
background-color: #000;    
   
}



.container{


padding: 20px;
width:300px;
  
  

  
 
 
}
h3{
    color: red;
    font-size: 34px;
}

.card-group{
    
    margin-right: 50px;
    margin-left: -10px;
    margin-top: -30px;

}

.card{
    margin-right: 10px;
        
    
}
.group1{
    margin-left: 20px;
    padding-left: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height:800px;
    width: 370px;
    border-radius: 20px;
    box-shadow: 6px 3px 28px -6px rgba(171,75,75,1);
   

}

.picture {
    width: 374px;
    height: 230px;
}

.group1 h1 {
    margin-left: 7px;
    padding-top: 25px;
}

.texto1 {
    font-size: 22px;
    padding-left: -8px;
}
#texxto{
    margin-left: -4px;
}


#texto01{
    margin-left: -120px;
    font-size: 10px;
}
#texto02{
    margin-left: -100px;
    margin-top: 30px;
   
   
}
#texto03{
    margin-left:2px ;
}

#texto04{
    margin-left: -2px;
}
#texto05{
    margin-left: -60px;
}
#texto06{
    margin-left:-20px ;
}
#titulo2{
   margin-top: 6em;
   
}

#texto2{
    margin-left: -110px;

}

.texto1{
    margin-left: -240px
}

#texxto{
    margin-left: -250px;
}

.group2{
    
    
    margin-left: 20px;
    padding-left: 4px;
    background-color: rgb(255, 255, 255);
    height:800px;
    width: 370px;
    border-radius: 20px;
    box-shadow: 6px 3px 28px -6px rgba(171,75,75,1);

}

.picture {
    width: 374px;
    height: 230px;
}
.picture2{
    height: 230px;
}


.group2 img{
    margin-left:-4px;
}

.group2 h1 {
    margin-left: 7px;
    padding-top: 25px;
}
#texxto2{
    margin-left: -275px;
    word-spacing: -3px;
}

#texxto3{
    margin-left: -230px;
    word-spacing: -3px;
}
#texxto4{
    margin-left: -294px;
    word-spacing: -3px;
}

#texto01{
    word-spacing: -2px;
}
div{
    margin-top: 20px;
    display: flex;
    
    
}
h3{
    position: absolute;
    margin-top: 299px;
    margin-left: -390px;
    height: 50px;
    
}
#estrelinha1{
    position: absolute;
    margin-top: 300px;
   right: 1630px;
   top: 70px;
    height: 20px;
   
}

#estrelinha2{
    position: absolute;
    margin-top: 300px;
    height: 20px;
    right: 830px;


}

#estrelinha3{
    position: absolute;
    margin-top: 300px;
    height:23px;
    right: 440px;
    

}

#estrelinha4{
    position: absolute;
    margin-top: 300px;
    height: 20px;
    right: 50px;

}

#estrelinha5{
    position: absolute;
    margin-top: 300px;
    height: 20px;
    right: -370px;

}

#estrelinha6{
    position: absolute;
    margin-top: 300px;
    height: 20px;
    right: 1220px;

}
#subtituloo{
    margin-top: 320px;
}

#subtitulo1{
    margin-top: 300px;
    margin-left: 10px
}
#subtiulo6{ 
    margin-left: 88%;
}

.avaliação1{
   
    margin-left: 10px;
    font-size: 40px;
}

h1{
    
    color: red;
    margin-top: 210px;
    height: 20px;
   white-space: nowrap;
   position: relative;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-style: normal;
  
    
    
   
    
    
}

.titulo{
    word-wrap: none;
}

p{
   position: absolute;
    margin-top:320px;
    margin-left: -220px;
    width: 350px;
    font-size:20px;
    height: 260px;
    text-align: justify;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: -2px;
    
   word-break: keep-all;

    
}


   
a{
    text-decoration: none;
    color: white;

}
    


.picture{
    margin-left: -4px;
}

img{
   
    position: absolute;
    border-radius: 10px;
   
    height: 200px;
   
    margin-left: 0px;
    
    
  
    
   
    
    
    
    
 }

.group1:hover,.group2:hover{
    border: 3px solid red;
    transition: 0.2s;
box-shadow: 6px 3px 28px -6px rgba(171,75,75,1);
}

button{
    background-color: rgb(255, 5, 5);
    color: white;
    border: 10px solid red;
    border-radius: 10px;
   height: 50px;
    width: 200px;
    font-size: 20px;
    margin-top:730px;
    margin-right: 90px;
    margin-left: -170px;
    cursor: pointer;
    
}


.botao{
    position: relative;
    color: rgb(253, 253, 253);
    width: 400px;
    margin-left: -180px;
}

#button-card{
    margin-left: -160px;
}

.group1:target{
    position: fixed;
    width: 50%;
    top: 15px;
    left: 25%;
    padding: 5px;
    border: solid 1px #333;
    box-shadow: 0 0 25px 10px #000;
    background: #fff;
    border-radius: 5px;
}


@media screen and (max-width:721px){

    .container{
        display: flex;
    }

    .card-group{
        display: flex;
        flex-direction: column;

    }

    .card-group1{
        display: flex;
        flex-direction: column;
    }
    .card-group2{
        display: flex;
        flex-direction: column;
    }
    h3{
        margin-left:1%;
    }
    .picture2{

        width:96.4%;
    }
 
    #subtiulo6{ 
        margin-left: 1%;
    }
}